<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<system.web>
		<compilation debug="true"
					 targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	</system.web>
	<connectionStrings>
		<add name="DefaultConnectionString"
			 connectionString="Data Source=aspLabs.mssql.somee.com;Initial Catalog=aspLabs;Persist Security Info=True;User ID=ratatui_SQLLogin_1;Password=pxyg3qg19i"
			 providerName="SqlServer2005"/>
	</connectionStrings>
</configuration>
